* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  color: rgb(141, 141, 141);
  line-height: 1.7;
}
a {
  text-decoration: none !important;
}
img {
  max-width: 100%;
}
.site-bg {
  background-color: rgb(31, 157, 249);
}
.gray-bg {
  background-color: rgb(236, 240, 243);
}
.site-color {
  color: rgb(141, 141, 141);
}
.title-color {
  color: rgb(31, 157, 249);
}
.section-padding {
  padding: 80px 0px;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.header-area {
  position: fixed;
  width: 100%;
  z-index: 2147483647;
  background: rgb(255, 255, 255);
  top: 0px;
  left: 0px;
}
.header-top {
  padding: 5px;
}
.contact-info > div {
  display: inline-block;
  color: rgb(255, 255, 255);
  margin: 0px 20px 0px 0px;
}
.contact-info a {
  color: rgb(255, 255, 255);
}
header.header-area .social-link ul {
  text-align: right;
  margin: 0px;
}
header.header-area .social-link ul li {
  display: inline-block;
}
header.header-area .social-link ul li a {
  color: rgb(31, 157, 249);
  display: block;
  width: 30px;
  height: 30px;
  background: rgb(255, 255, 255);
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}
.contact-info > div i {
  margin: 0px 5px 0px 0px;
}
header.header-area .social-link ul li a i {
  transition: all 0.1s ease 0s;
}
.header-menu {
  border-bottom: 1px solid rgb(221, 221, 221);
}
.header-menu .logo {
  max-width: 160px;
}
.header-menu .logo a {
  display: block;
}
.header-menu .logo a img {
  max-width: 100%;
}
#menu ul {
  text-align: right;
}
#menu ul li {
  display: inline-block;
}
#menu ul li a {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  padding: 25px 13px;
  font-weight: 500;
  text-decoration: none;
}
#menu ul li a:hover,
#menu ul li a.active {
  color: rgb(31, 157, 249);
}
.contact,
#menu .contact {
  border: 2px solid rgb(31, 157, 249);
  padding: 5px 30px;
  border-radius: 30px;
  color: rgb(31, 157, 249);
  text-transform: uppercase;
  margin-left: 15px;
  z-index: 9;
  font-weight: 600;
}
.header-menu .row {
  align-items: center;
}
section.hero-area {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 100px 0px;
  margin-top: 118px;
}
.hero-content h5 {
  font-size: 18px;
  color: rgb(31, 157, 249);
}
.hero-content h2 {
  font-size: 48px;
  color: rgb(17, 0, 112);
  line-height: 1.4;
  margin: 20px 0px 30px;
}
.hero-content h2 span {
  color: rgb(31, 157, 249);
  font-weight: 600;
}
.hero-content span#text-animation {
  color: rgb(17, 0, 112);
}
.hero-social {
  margin: 50px 0px 0px;
}
.hero-social h3 {
  font-size: 20px;
  color: rgb(31, 157, 249);
  margin: 0px 0px 20px;
}
.hero-social li {
  display: inline-block;
  margin: 0px 25px 0px 0px;
}
.hero-social a {
  width: 50px;
  height: 50px;
  background: rgb(31, 157, 249);
  display: block;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  transform: rotate(45deg);
  color: rgb(255, 255, 255) !important;
}
section.hero-area .row {
  align-items: center;
}
.call-to-action-text img {
  float: left;
  margin: 0px 30px 0px 0px;
}
section.call-to-action {
  padding: 60px 0px;
  background: url("assets/images/action-bg.jpg") center center / cover no-repeat;
  position: relative;
}
section.call-to-action::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(6, 6, 8);
  left: 0px;
  top: 0px;
  opacity: 0.9;
}
.action-text h4 {
  font-size: 24px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
.action-text h4 span {
  color: rgb(31, 157, 249);
  font-weight: 600;
}
.actio-btn {
  text-align: right;
}
.actio-btn a {
  display: inline-block;
}
section.acout-area {
  padding: 60px 0px;
}
.about-image {
  position: relative;
}
.section-title h3 {
  position: relative;
  color: rgb(31, 157, 249);
  font-size: 36px;
  font-weight: 600;
  padding: 0px 0px 10px;
  text-align: center;
  text-transform: capitalize;
}
.about-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("assets/images/shadow.png") center center / cover no-repeat;
  left: 0px;
  top: 0px;
  mix-blend-mode: screen;
}
.section-title h3::before,
.section-title h3::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background: rgb(31, 157, 249);
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}
.section-title.left h3::before,
.section-title.left h3::after {
  left: 0px;
  transform: translate(0px);
}
.section-title.left h3,
.section-title.left h3 {
  text-align: left;
}
.section-title h3::before {
  height: 4px;
  width: 50px;
  bottom: -1px;
}
.section-title h4 {
  font-size: 18px;
  color: rgb(31, 157, 249);
}
.section-title {
  margin-bottom: 30px;
}
section.skill-area {
  padding: 80px 0px;
}
section.skill-area .row {
  align-items: center;
}
.progress-box .progress {
  height: 10px;
  border-radius: 30px;
  background: rgb(204, 204, 204);
  overflow: visible !important;
}
.progress-box {
  margin: 0px 0px 20px;
}
.progress-box .progress .progress-bar {
  border-radius: 10px 0px 0px 10px;
  position: relative;
  background: rgb(31, 157, 249);
  overflow: visible !important;
}
.progress-box .progress .progress-bar span {
  position: absolute;
  right: 5px;
  color: rgb(255, 255, 255);
  top: -21px;
  z-index: 999;
  display: block;
  font-size: 16px;
  font-weight: 700;
}
.progress-box h5 {
  color: rgb(141, 141, 141);
}
.progress-box .progress .progress-bar span::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 25px;
  background: rgb(31, 157, 249);
  left: -5px;
  top: -14px;
  z-index: -9;
  border-radius: 3px;
}
.progress-box .progress .progress-bar span::after {
  content: "";
  position: absolute;
  border-right: 10px solid rgb(31, 157, 249);
  border-bottom: 10px solid transparent;
  bottom: -19px;
  right: -5px;
}
.skill-image {
  padding: 0px 10%;
}
.skill-image img {
  border-radius: 75px;
}
.project-content {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: rgb(177, 177, 177) 4px 7px 5px;
  overflow: hidden;
  border: 1px solid rgb(228, 228, 228);
}
.project-content a {
  height: 400px;
  display: block;
  overflow: hidden;
  position: relative;
}
.project-content h4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(31, 157, 249, 0.7);
  left: 0px;
  top: 0px;
  text-align: center;
  z-index: 9;
  color: rgb(255, 255, 255);
  line-height: 400px;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.project-content:hover h4 {
  opacity: 1;
}
.project-content img {
  width: 100%;
}
.portfolio-filter-menu {
  text-align: center;
  margin: 0px auto 60px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 7px;
  border-radius: 47px;
  display: inline-block;
}
.portfolio-filter-menu button {
  border: 0px;
  padding: 10px 27px;
  background: transparent;
  float: left;
  text-transform: capitalize;
  color: rgb(141, 141, 141);
}
button.mixitup-control-active {
  background: rgb(31, 157, 249);
  color: rgb(255, 255, 255);
  border-radius: 25px;
}
.testmonial-content {
  background: rgb(255, 255, 255);
  padding: 75px 20px 30px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px;
  border-radius: 5px;
  text-align: center;
  overflow: visible;
  margin: 56px 0px 20px;
}
.testmonial-content img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px,
    rgb(31, 157, 249) 0px 0px 0px 5px;
}
.testmonial-content h5 {
  text-align: center;
  color: rgb(68, 68, 68);
  font-size: 18px;
  font-weight: 700;
}
.testmonial-content h5 span {
  display: block;
  font-size: 14px;
  margin: 5px 0px 30px;
  font-weight: 500;
}
.testmonial-content p {
  font-size: 14px;
  font-weight: 400;
}
.testmonial-content .reating i {
  color: rgb(255, 219, 28);
}
section.testmonial-area {
  position: relative;
  overflow-x: hidden;
}
img.slick-arrow {
  position: absolute;
  z-index: 99;
  left: -30px;
  top: 55%;
  cursor: pointer;
  width: 30px;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.slick-slide {
  opacity: 0.5;
}
.slick-slide.slick-current {
  opacity: 1;
}
img.arrow-right.slick-arrow {
  left: inherit;
  right: -30px;
}
.slick-list {
  position: relative;
}
.slick-list::before,
.slick-list::after {
  content: "";
  position: absolute;
  width: 20%;
  height: calc(100% - 56px);
  background: linear-gradient(90deg, rgb(236, 240, 243), transparent);
  z-index: 9;
  left: 0px;
  bottom: 0px;
}
.slick-list::before {
  left: inherit;
  right: 0px;
  background: linear-gradient(270deg, rgb(236, 240, 243), transparent);
}
div#testmonial-slider:hover .slick-arrow {
  left: 10px;
  opacity: 1;
}
div#testmonial-slider:hover .arrow-right.slick-arrow {
  right: 10px;
  left: inherit;
}
.seminar-item {
  border-radius: 5px;
  box-shadow: rgb(200, 200, 200) 1px 1px 9px;
}
.seminar-item ul {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  top: 0px;
  left: 0px;
}
.seminar-item ul li {
  background: rgb(31, 157, 249);
  padding: 3px 20px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
.seminar-item .seminar-body {
  padding: 20px;
}
.seminar-item .seminar-body .date {
  float: left;
  margin: 0px 20px 0px 0px;
}
.seminar-item .seminar-body .seminar-text {
  overflow: hidden;
}
.seminar-head {
  position: relative;
}
.seminar-item .seminar-body .date h6 {
  font-size: 24px;
  text-align: center;
  color: rgb(31, 157, 249);
  font-weight: 700;
  margin: 3px 0px 0px;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid;
}
.seminar-item .seminar-body .date h6 span {
  font-size: 14px;
  display: block;
  font-weight: 500;
}
.seminar-item .seminar-body .seminar-text h4 {
  color: rgb(31, 157, 249);
  font-weight: 700;
}
.seminar-item .seminar-body .seminar-text p {
  font-size: 14px;
}
footer.footer-area {
  background: rgb(31, 157, 249);
  text-align: center;
}
.footer-content {
  padding: 30px 0px;
}
.footer-logo a {
  display: inline-block;
}
.footer-content img {
  max-width: 150px;
}
.footer-content p {
  margin: 20px 0px 0px;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
div#to_top {
  position: fixed;
  bottom: 20px;
  right: 15px;
  background: rgba(31, 157, 249, 0.7);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  opacity: 0;
  z-index: 999999;
}
div#to_top i {
  text-align: center;
  display: block;
  font-size: 30px;
  line-height: 40px;
  color: rgb(255, 255, 255);
  transform: rotate(-90deg);
}
.to_top_show {
  opacity: 1 !important;
}
section.course-module {
  padding: 50px 0px 10px;
  background: url("assets/images/page-title-bg.jpg") center center / cover
    no-repeat;
  position: relative;
  z-index: 9;
}
section.course-module::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(31, 157, 249);
  opacity: 0.6;
  z-index: -1;
  left: 0px;
  top: 0px;
}
section.course-module h3 {
  color: rgb(255, 255, 255);
  text-align: center !important;
}
section.course-module h3::before,
section.course-module h3::after {
  background-color: rgb(255, 255, 255);
  text-align: center !important;
}
.accordion-item {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(204, 204, 204);
  position: relative;
}
.accordion-item button {
  width: 100%;
  border: 0px;
  outline: none;
  background: rgb(255, 255, 255);
  text-align: left;
  padding: 20px 25px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(141, 141, 141);
  display: block;
}
div#classModule {
  border: 1px solid rgb(204, 204, 204);
}
.accordion-header {
  margin: 0px;
}
.accordion-item:last-child {
  border: 0px;
}
.accordion-body {
  padding: 10px 25px;
}
.accordion-body ul li {
  position: relative;
  padding: 3px 0px 3px 30px;
  text-transform: capitalize;
}
.accordion-body ul li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  top: 15px;
  left: 0px;
  border: 2px solid rgb(31, 157, 249);
  transform: translateY(-50%);
}
.accordion-body ul {
  padding: 0px 0px 0px 3px;
}
.accordion-item i {
  position: absolute;
  right: 25px;
  top: 30px;
  background: rgb(141, 141, 156);
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  transform: translateY(-50%);
}
.class-content {
  max-width: 700px;
  margin: 0px auto;
}
.accordion-item.active button {
  color: rgb(31, 157, 249) !important;
}
.accordion-item.active i {
  background: rgb(31, 157, 249);
  transform: rotate(180deg);
}
.accordion-item.active i {
  top: 20px;
}
