* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  color: rgb(141, 141, 141);
  line-height: 1.7;
}
a {
  text-decoration: none !important;
}
img {
  max-width: 100%;
}
.site-bg {
  background-color: rgb(31, 157, 249);
}
.gray-bg {
  background-color: #ecf0f3;
}
.site-color {
  color: rgb(141, 141, 141);
}
.title-color {
  color: rgb(31, 157, 249);
}
.section-padding {
  padding: 80px 0;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.header-top {
  padding: 5px;
}
.contact-info > div {
  display: inline-block;
  color: rgb(255, 255, 255);
  margin: 0px 20px 0px 0px;
}
.contact-info a {
  color: rgb(255, 255, 255);
}
header.header-area .social-link ul {
  text-align: right;
  margin: 0px;
}
header.header-area .social-link ul li {
  display: inline-block;
}
header.header-area .social-link ul li a {
  color: rgb(31, 157, 249);
  display: block;
  width: 30px;
  height: 30px;
  background: rgb(255, 255, 255);
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}
.contact-info > div i {
  margin: 0px 5px 0px 0px;
}
header.header-area .social-link ul li a i {
  transition: all 0.1s ease 0s;
}
.header-menu {
  border-bottom: 1px solid rgb(221, 221, 221);
}
.header-menu .logo {
  max-width: 160px;
}
.header-menu .logo a {
  display: block;
}
.header-menu .logo a img {
  max-width: 100%;
}
#menu ul {
  text-align: right;
}
#menu ul li {
  display: inline-block;
}
#menu ul li a {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  padding: 25px 13px;
  font-weight: 500;
  text-decoration: none;
}
#menu ul li a:hover,
#menu ul li a.active {
  color: rgb(31, 157, 249);
}
.contact,
#menu .contact {
  border: 2px solid rgb(31, 157, 249);
  padding: 5px 30px;
  border-radius: 30px;
  color: rgb(31, 157, 249);
  text-transform: uppercase;
  margin-left: 15px;
  z-index: 9;
  font-weight: 600;
}
.header-menu .row {
  align-items: center;
}
section.hero-area {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 100px 0px;
}
.hero-content h5 {
  font-size: 18px;
  color: rgb(31, 157, 249);
}
.hero-content h2 {
  font-size: 48px;
  color: rgb(17, 0, 112);
  line-height: 1.4;
  margin: 20px 0px 30px;
}
.hero-content h2 span {
  color: rgb(31, 157, 249);
  font-weight: 600;
}
.hero-content span#text-animation {
  color: rgb(17, 0, 112);
}
.hero-social {
  margin: 50px 0px 0px;
}
.hero-social h3 {
  font-size: 20px;
  color: rgb(31, 157, 249);
  margin: 0px 0px 20px;
}
.hero-social li {
  display: inline-block;
  margin: 0px 25px 0px 0px;
}
.hero-social a {
  width: 50px;
  height: 50px;
  background: rgb(31, 157, 249);
  display: block;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  transform: rotate(45deg);
  color: rgb(255, 255, 255) !important;
}
section.hero-area .row {
  align-items: center;
}
.call-to-action-text img {
  float: left;
  margin: 0px 30px 0px 0px;
}
section.call-to-action {
  padding: 60px 0px;
  background: url("assets/images/action-bg.jpg") center center / cover no-repeat;
  position: relative;
}
section.call-to-action::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(6, 6, 8);
  left: 0px;
  top: 0px;
  opacity: 0.9;
}
.action-text h4 {
  font-size: 24px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
.action-text h4 span {
  color: rgb(31, 157, 249);
  font-weight: 600;
}
.actio-btn {
  text-align: right;
}
.actio-btn a {
  display: inline-block;
}
section.acout-area {
  padding: 60px 0px;
}
.about-image {
  position: relative;
}
.section-title h3 {
  position: relative;
  color: rgb(31, 157, 249);
  font-size: 36px;
  font-weight: 600;
  padding: 0px 0px 10px;
  text-align: center;
  text-transform: capitalize;
}
.about-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("assets/images/shadow.png") center center / cover no-repeat;
  left: 0px;
  top: 0px;
  mix-blend-mode: screen;
}
.section-title h3::before,
.section-title h3::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background: rgb(31, 157, 249);
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}
.section-title.left h3::before,
.section-title.left h3::after {
  left: 0px;
  transform: translate(0px);
}
.section-title.left h3,
.section-title.left h3 {
  text-align: left;
}
.section-title h3::before {
  height: 4px;
  width: 50px;
  bottom: -1px;
}
.section-title h4 {
  font-size: 18px;
  color: rgb(31, 157, 249);
}
.section-title {
  margin-bottom: 30px;
}
section.skill-area {
  padding: 80px 0px;
}
section.skill-area .row {
  align-items: center;
}
.progress-box .progress {
  height: 10px;
  border-radius: 30px;
  overflow: visible !important;
  background: #cccccc;
}
.progress-box {
  margin: 0px 0px 20px;
}
.progress-box .progress .progress-bar {
  border-radius: 10px 0px 0px 10px;
  position: relative;
  background: rgb(31, 157, 249);
  overflow: visible !important;
}
.progress-box .progress .progress-bar span {
  position: absolute;
  right: 5px;
  color: rgb(255, 255, 255);
  top: -21px;
  z-index: 999;
  display: block;
  font-size: 16px;
  font-weight: 700;
}
.progress-box h5 {
  color: rgb(141, 141, 141);
}
.progress-box .progress .progress-bar span::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 25px;
  background: rgb(31, 157, 249);
  left: -5px;
  top: -14px;
  z-index: -9;
  border-radius: 3px;
}
.progress-box .progress .progress-bar span::after {
  content: "";
  position: absolute;
  border-right: 10px solid rgb(31, 157, 249);
  border-bottom: 10px solid transparent;
  bottom: -19px;
  right: -5px;
}
.skill-image {
  padding: 0 10%;
}
.skill-image img {
  border-radius: 75px;
}

/* Portfolio area style start */
.project-content {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 4px 7px 5px #b1b1b1;
  overflow: hidden;
  border: 1px solid #e4e4e4;
}
.project-content a {
  height: 400px;
  display: block;
  overflow: hidden;
  position: relative;
}
.project-content h4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(31 157 249 / 70%);
  left: 0;
  top: 0;
  text-align: center;
  z-index: 9;
  color: #fff;
  line-height: 400px;
  opacity: 0;
  transition: 0.3s;
}
.project-content:hover h4 {
  opacity: 1;
}
.project-content img {
  width: 100%;
}

.portfolio-filter-menu {
  text-align: center;
  margin: 0 auto 60px;
  background: #fff;
  box-shadow: 1px 1px 7px rgb(0 0 0 / 25%);
  border-radius: 47px;
  display: inline-block;
}

.portfolio-filter-menu button {
  border: 0;
  padding: 10px 27px;
  background: transparent;
  float: left;
  text-transform: capitalize;
}

button.mixitup-control-active {
  background: #1f9df9;
  color: #fff;
  border-radius: 25px;
}

/* Portfolio area style end */
